.team{
   background-color: rgb(242, 238, 233); 
  text-align: center;
  color: rgb(16, 16, 84);

}
.itemP{
    color: rgb(103, 149, 149);  
}
.item{
  float:left;
  width:33.33%;
}
.clear{
  clear:left;
}
